.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.input_menu {
  border: 1px solid black;
  border-radius: 10px;
  width: 350px;
  background: rgba(0, 0, 0, 0.247);
  color: white;
}

.title {
  color: white;
}

.input_item {
  display: flex;
  flex-direction: column;
}

.form_label {
  margin: 0 0 10px 10px;
}

.input {
  border-radius: 5px;
  width: 250px;
  margin: 0 0 10px 10px;
}

.form_label:first-child {
  margin-top: 5px;
}

.sbt_button {
  border-radius: 5px;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 0 10px 10px;
}

.sbt_button:hover,
.sbt_button:focus {
  background: rgba(0, 0, 0, 0.301);
  color: white;
}
