.container {
  width: 250px;
  border: 1px solid black;
  border-radius: 10px;
  margin: auto;
  padding: 10px;
  color: aliceblue;
  background-color: rgba(75, 75, 75, 0.5);
}

.container p {
  margin: 0 0 10px 10px;
}

.input {
  border-radius: 10px;
  margin: 0 0 10px 10px;
}

.sub_btn {
  margin: 0 0 0 10px;
  border-style: outset;
  border-radius: 10px;
  padding: 2px 7px;
  cursor: pointer;
}
